In [3]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path = '/content/drive/MyDrive/Datasets/imdb_data.csv'
imdb_df = pd.read_csv(path)

In [ ]:
imdb_df.head()
#To get all the columns in the data frame we write a code in python
pd.set_option('display.max_columns', None)

#Before writing this code we were able to see three dots in between the columns section and all the column names
# were not visble to us. with this code we are able to access all the columns

In [ ]:
#Apply Function
# This function is used in pandas data frame to apply a user defined function to a pandas data frame
#for example we want to change the name of one coo lumn to upper case how will we do it?
#efficient method is using a function upper to do it at once
#lets see how we do it here

In [ ]:
#lets define a function
def upper_case(column_name):
  return column_name.upper()

In [ ]:
#after defining a function we make a new column in which we display the upper case charachters
imdb_df['Capital_column'] # lets name the column as capital_column
imdb_df['Capital_column'] = imdb_df['title'] #we want to apply the changes in this title column
imdb_df['Capital_column'] = imdb_df['title'].apply(upper_case)  #here to apply the function to the column we use apply function in pandas

In [ ]:
imdb_df['Capital_column'] = imdb_df['title'].apply(upper_case)

In [ ]:
#now lets display these both title and capital
imdb_df[['title','Capital_column']].head() #then to acess it we need to put double square brackets

,title,Capital_column
0,Hot Tub Time Machine 2,HOT TUB TIME MACHINE 2
1,The Princess Diaries 2: Royal Engagement,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
2,Whiplash,WHIPLASH
3,Kahaani,KAHAANI
4,Marine Boy,MARINE BOY

In [ ]:
import numpy as np

In [ ]:
def revised_profit(revenue, budget):
  if revenue > 0:
    new_profit = revenue - budget
  else:
    new_profit = np.nan

  return new_profit

In [ ]:
imdb_df['new_profit']= imdb_df.apply(lambda x:revised_profit(x['revenue'],x['budget']),axis = 1)
imdb_df[['revenue','budget','new_profit']].head()

    revenue    budget  new_profit
0  12314651  14000000    -1685349
1  95149435  40000000    55149435
2  13092000   3300000     9792000
3  16000000   1200000    14800000
4   3923970         0     3923970

In [ ]:
list(imdb_df.columns)

['id',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'Keywords',
 'cast',
 'crew',
 'revenue',
 'new_profit']

In [ ]:
path = '/content/drive/MyDrive/Datasets/imdb_data.csv'
imdb_df = pd.read_csv(path)
imdb_df['Profit_'] = imdb_df['revenue'] - imdb_df['budget']
imdb_df['profit_margin'] = imdb_df.apply(lambda x: (x['Profit_'] / x['revenue']) * 100, axis=1)
imdb_df['is_profitting'] = imdb_df.apply(lambda x: True if x['profit_margin'] >0 else False, axis = 1)
imdb_df[['profit_margin','is_profitting']].head()

   profit_margin  is_profitting
0     -13.685723          False
1      57.960864           True
2      74.793767           True
3      92.500000           True
4     100.000000           True

In [5]:
imdb1 = imdb_df[imdb_df['runtime'] >= 150]
imdb2 = imdb_df[ (imdb_df['runtime'] < 150) & (imdb_df['runtime'] > 100 )]
imdb3 = imdb_df[imdb_df['runtime'] <= 100]

In [11]:
pd.concat([imdb1,imdb2,imdb3])

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
47,48,NaN,44000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,...,12/25/15,167.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117
51,52,NaN,12000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,tt0059243,en,The Great Race,"Professional daredevil and white-suited hero, ...",4.473327,...,7/1/65,160.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"The movie with 20,000-mile or one-million-laug...",The Great Race,"[{'id': 9253, 'name': 'slapstick'}, {'id': 159...","[{'cast_id': 1, 'character': 'Prof. Fate', 'cr...","[{'credit_id': '52fe445e9251416c75032581', 'de...",25333333
76,77,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0242572,ta,Kandukondain Kandukondain,Two young women with differing views on love f...,0.660663,...,5/5/00,157.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kandukondain Kandukondain,NaN,"[{'cast_id': 1, 'character': 'Manohar', 'credi...","[{'credit_id': '52fe47c7c3a368484e0d8f41', 'de...",500000
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,ru,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,6/26/11,158.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000
107,108,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",20.755149,...,5/24/95,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,"[{'id': 30, 'name': 'individual'}, {'id': 388,...","[{'cast_id': 5, 'character': 'William Wallace'...","[{'credit_id': '52fe4225c3a36847f80079c1', 'de...",210000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,2988,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0096246,en,The Terror Within,Experiments in biological warfare have destroy...,1.292125,...,1/20/89,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It Wants To Get Out!,The Terror Within,"[{'id': 1299, 'name': 'monster'}, {'id': 1852,...","[{'cast_id': 4, 'character': 'Hal', 'credit_id...","[{'credit_id': '52fe45d9c3a368484e072511', 'de...",858591
2988,2989,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0301978,fa,ده,A visual social examination in the form of ten...,0.984515,...,5/20/02,94.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Ten,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 2, 'character': 'Driver', 'credit...","[{'credit_id': '52fe460a9251416c7506b0a7', 'de...",105656
2989,2990,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,tt0206367,en,The Trumpet Of The Swan,The adventures of a young Trumpeter swan who c...,0.851599,...,5/11/01,75.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes being different helps you to find yo...,The Trumpet Of The Swan,"[{'id': 6653, 'name': 'trumpet'}, {'id': 10407...","[{'cast_id': 1, 'character': 'Father', 'credit...","[{'credit_id': '58bc9d609251416084044b0e', 'de...",100202
2990,2991,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0118663,en,B.A.P.S.,Can two clueless Georgia homegirls with big he...,1.560980,...,3/28/97,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,These Pretty Women... Are Clueless!,B.A.P.S.,"[{'id': 1437, 'name': 'burglar'}, {'id': 1946,...","[{'cast_id': 3, 'character': 'Nisi', 'credit_i...","[{'credit_id': '52fe477b9251416c7509af57', 'de...",7240837
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386

In [13]:
imdb1.shape

(135, 23)

In [14]:
imdb2.shape

(1586, 23)

In [16]:
sample_df = pd.concat([imdb1,imdb2],axis = 1)

In [17]:
pd.set_option('display.max_columns', None)

In [19]:
sample_df.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
47,48.0,NaN,44000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://thehatefuleight.com/,tt3460252,en,The Hateful Eight,Bounty hunters seek shelter from a raging bliz...,20.328822,/fqe8JxDNO8B8QfOGTdjh6sPCdSC.jpg,"[{'name': 'Double Feature Films', 'id': 215}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/25/15,167.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,No one comes up here without a damn good reason.,The Hateful Eight,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ...","[{'cast_id': 22, 'character': 'Major Marquis W...","[{'credit_id': '538aa95ec3a368714e0005b3', 'de...",155760117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#only english movies
imdb_df[imdb_df['original_language'] == 'en'].head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

In [33]:
released_films = imdb_df.loc[imdb_df['status'] == 'Released',['title']]
released_films.head()
#here we see that in the place where we write the row value for slicing, we have written a condition.
#this can also be done

                                      title
0                    Hot Tub Time Machine 2
1  The Princess Diaries 2: Royal Engagement
2                                  Whiplash
3                                   Kahaani
4                                Marine Boy

In [5]:
long_movies = imdb_df.loc[imdb_df['runtime'] >= 100,['imdb_id','original_language']]

english_movies = imdb_df[imdb_df['original_language'] == 'en']

In [63]:
#inner join
new_table = pd.merge(english_movies[['imdb_id','runtime']],long_movies,how = 'outer', left_on='imdb_id',right_on='imdb_id')

In [65]:
new_table.head()

     imdb_id  runtime original_language
0  tt2637294     93.0               NaN
1  tt0368933    113.0                en
2  tt2582802    105.0                en
3  tt0093743     83.0               NaN
4  tt0431021     92.0               NaN

In [53]:
long_movies.shape

(1820, 2)

In [6]:
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]}, index=['a', 'b', 'c'])

# Joining df1 and df2 based on their indices
result = df1.join(df2)

print(result)

   A  B  C   D
a  1  4  7  10
b  2  5  8  11
c  3  6  9  12

In [9]:
imdb_df['release_date']

0        2/20/15
1         8/6/04
2       10/10/14
3         3/9/12
4         2/5/09
          ...
2995     4/22/94
2996     3/28/13
2997    10/11/96
2998     1/16/04
2999     9/22/11
Name: release_date, Length: 3000, dtype: object

In [10]:
imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'], errors='coerce')

<ipython-input-10-a3252e9cb690>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'], errors='coerce')

Want to analyze profits of your favorite movies?💰🤑 Use Pandas and create a new column "profit" to find out the difference between revenue and budget!📊 Then, apply a lambda function to create a "profit_margin" column that calculates the profit margin of each movie as the ratio of its profit to its revenue.😎📈 And don't forget to add a new column "is_profitable" that indicates whether each movie is profitable or not based on its profit!🤔 Finally, print the first 10 rows to see if the new columns have been added correctly

In [11]:
imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']

In [18]:
imdb_df['profit_margin'] = imdb_df.apply(lambda x: x['profit']/ x['revenue'] * 100, axis = 1)

In [24]:
imdb_df['is_profitable'] = imdb_df.apply(lambda x: True if x['profit_margin'] > 0 else False, axis = 1)

In [31]:
profitable = imdb_df[imdb_df['is_profitable']]

In [32]:
profitable.shape

(2337, 26)

Are you ready for a movie marathon? 🤩🎥 Let's filter the IMDb dataset for movies that are at least 2 hours long ⏰ and those with a popularity of 50.0 or higher 🌟. Then, let's concatenate these two filtered DataFrames into a new DataFrame 🤝, and sort it by popularity to find the top-rated movies with a runtime of 2 hours or more 🏆🎞️. Can you print the titles and popularity of the top 10 movies in this new DataFrame? 🤔💻

In [7]:
long_movie = imdb_df['runtime']>= 120

In [8]:
high_popularity = imdb_df['popularity'] >= 50.0

In [118]:
long_movie = imdb_df[imdb_df['runtime']>= 120]
high_popularity = imdb_df[imdb_df['popularity'] >= 50.0]
combined_df = pd.concat([long_movie,high_popularity], axis = 0)


sort_df = combined_df.sort_values(by ='popularity', ascending=False)
sorted_df = sort_df.drop_duplicates()

In [107]:
 print(sorted_df[['title','popularity']].head(10))

                               title  popularity
518                     Wonder Woman  294.337037
684             Beauty and the Beast  287.253654
1695                     Baby Driver  228.032744
2326                        Deadpool  187.860492
2126  Guardians of the Galaxy Vol. 2  185.330992
1309                       Gone Girl  154.801009
1715  War for the Planet of the Apes  146.161786
1673                 The Dark Knight  123.167259
1126                    The Avengers   89.887648
2293                      The Circle   88.439243

In [4]:
imdb_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [48]:
imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'], errors = 'coerce') #Here it says how to handle errors

In [49]:
#for example coerce says that if there is an error result should be Not a time
#now we need to extract the release year from thr date
imdb_df['release_year'] = imdb_df['release_date'].dt.year

In [50]:
imdb_df['release_year']

0       1970
1       1970
2       1970
3       1970
4       1970
        ...
2995    1970
2996    1970
2997    1970
2998    1970
2999    1970
Name: release_year, Length: 3000, dtype: int32

In [51]:
max_runtime = imdb_df.groupby('release_year')['runtime'].max().reset_index()
max_runtime.rename(columns ={'runtime':'max_runtime'}, inplace = True)

In [52]:
max_runtime.head()

   release_year  max_runtime
0          1970        338.0

In [54]:
 # Group the data frame by year and item and extract a number of stats from each group
 imdb_df.groupby(['release_year','original_language'], as_index = False).agg({'runtime':"mean",'revenue':'sum','imdb_id':'count'}).sort_values(by='release_year').rename(columns ={'runtime':'avg_runtime','revenue':'total_revenue','imdb_id':'num_movies'})

    release_year original_language  avg_runtime  total_revenue  num_movies
0           1970                ar    98.000000        1347747           1
20          1970                mr   162.000000        4400000           1
21          1970                nb   103.000000        4159678           1
22          1970                nl   107.333333       11758002           6
23          1970                no    95.500000        2022135           2
24          1970                pl    99.000000       30021668           2
25          1970                pt   114.666667       65274145           6
19          1970                ml   137.000000        2630000           2
26          1970                ro   108.750000        1359844           4
28          1970                sr    97.000000            198           1
29          1970                sv   122.375000       93044087           8
30          1970                ta   159.875000      235300003          16
31          1970                te   146.000000       16640850           2
32          1970                tr   119.000000      154990225           3
33          1970                ur    94.000000         645135           1
27          1970                ru    95.586957      325684313          47
18          1970                ko   115.100000      275534086          20
17          1970                ja   112.972973     1134116556          37
16          1970                it    91.625000      393963097          24
1           1970                bn   125.000000         536364           1
2           1970                cn   105.450000      595457705          20
3           1970                cs    90.000000          17393           1
4           1970                da   105.400000       58785467           5
5           1970                de   122.294118      369556211          18
6           1970                el    91.000000        8000000           1
7           1970                en   106.984078   192264714932        2575
8           1970                es   100.372093      368285978          43
9           1970                fa    96.400000        3560926           5
10          1970                fi   100.000000        2943863           2
11          1970                fr   106.294872     1336340121          78
12          1970                he    90.000000       11125849           1
13          1970                hi   148.880952     1064547487          42
14          1970                hu   126.000000         374378           3
15          1970                id   150.000000        2627209           1
34          1970                vi   135.000000         639000           1
35          1970                zh   121.368421     1337151014          19