Lambda Function

In [ ]:
add = lambda x, y: x+y

In [ ]:
result = add(4,2)
print(result)

2.0

In [ ]:
def add(x,y)
return x+y

In [ ]:
divide = lambda x,y: "undifined" if y == 0 else x/y

In [ ]:
result = divide(3,0)
print(result)

undifined

In [ ]:
#So, if asked what is Labda function
#Labda function is an anonymous function in which we have an expression that is to be executed in one line

Filter in-built function

In [1]:
#filter()
# it is an inbuilt function in which an iterable which is true is shown only and the others are filtered
#it is an inbult function that is used to to filter out the elements of iterables in a specific condition
#it is a filter operation

Here's how it works:

**Iterable**: You provide filter() with an iterable object, which is a collection of items that you can iterate over one by one. This could be a list of numbers, a string of characters, or any other sequence of elements.

**Function**: You also provide a function that defines the filtering criteria. This function takes an element from the iterable as input and returns True if the element should be included in the filtered result, and False otherwise.

The function can be a regular named function you define beforehand.
It can be an anonymous function created using a lambda expression (often preferred for concise filtering logic).
**Filtering**: filter() applies the function to each element in the iterable. It keeps only the elements for which the function returns True, and discards the elements that return False.

**Iterator**: filter() returns a new iterator that contains the filtered elements. An iterator is an object that you can use to loop through the elements one at a time, but it doesn't store all the elements in memory at once. This is memory-efficient for large iterables.

In [ ]:
number = [1,2,3,4,5,6,7,8,9,10]
even_num = list(filter(lambda x: x%2 == 0, number))
print(even_num)

[2, 4, 6, 8, 10]

f you use only ***x % 2*** in the lambda function for the filter() function in Python, it will still effectively filter for even numbers. Here's why:

In Python, expressions within a filter() function's lambda argument are evaluated in a Boolean context. This means that the result is treated as True or False.
The modulo operator (%) returns the remainder after a division.
For even numbers (divisible by 2), the remainder is 0.
For odd numbers, the remainder is 1.
Since 0 is considered False and any non-zero value is considered True in Boolean evaluation, the lambda function x % 2 behaves as follows:

For even numbers (x is divisible by 2, remainder is 0): x % 2 evaluates to 0, which is treated as False in the Boolean context.
For odd numbers (x is not divisible by 2, remainder is 1): x % 2 evaluates to 1, which is treated as True in the Boolean context.
Filtering Logic:

The filter() function keeps elements for which the lambda function returns True.
So, in this case, the filter() function will keep only the odd numbers (because x % 2 returns True for them) and discard the even numbers (because x % 2 returns False for them).

In [ ]:
#If we use x%2 only in the above code, it will still be used for finding a even number but
#when even number divided by 2 gives remainder 0: it is Tecnically False because 0 maens false in boolean:
#And for the case of odd numbers if we divide thenm by 2 and the result is 1 which is true in case of boolean:
#therefore when we put a filter operation over it it would give out only the true value which is the odd ones:

Map Function

In [ ]:
#Map is an inbuilt function in which a condition is applied to all teh elements of the iterable:
#example
numbers = [0,1,2,3,4,5,6,7,8,9,10]
square = list(map(lambda x: x**2, numbers))
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]
square = list(filter(lambda x: x**2, numbers))
print(square)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

We replaced the map with filter in the below to see the diffrence between the two in-built funtions. To our amazement we saw the the input = output in the map case, also we can see that 0 that was present in the input it was not given as an output in this case.
What could have been the reason?
The reason is that in filter any thing that gives output 0 is considered False by filter and does not print that.
So, from this we can infer that all those outputs where we want TRUE as an output filter operation is used to filter that out for us

In [ ]:
words = ["apple", "banana", "cherry"]
upper = list(map(lambda x: x.upper(), words))
print(upper)

['APPLE', 'BANANA', 'CHERRY']

List Comprehenssion

In [ ]:
square = []
for i in range(1,11):
  square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**i^2** is the operation you want to perform on each element of the iterable.
" **i** "is a variable representing each element in the iterable,
**range(1,11)** is the iterable object you want to iterate over, and
**Condition** is an optional condition that filters the elements based on a Boolean expression.

NESTED LIST COMPRESSION

In [ ]:
pairs = [(i,j) for i in range(1,6) for j in range(1,6) if j%2 == 1]  #(i,j) is a tuple creation meaning it creates a tuple containing two elements
print(pairs)

[(1, 1), (1, 3), (1, 5), (2, 1), (2, 3), (2, 5), (3, 1), (3, 3), (3, 5), (4, 1), (4, 3), (4, 5), (5, 1), (5, 3), (5, 5)]

In [ ]:
#correct
numbers = [1, 2, 3, 4, 5]
squared = [x ** 2 for x in numbers]
print(squared)

[1, 4, 9, 16, 25]

In [ ]:
celsius_temps = [25, 30, 15, 20, 10]
fahrenheit_temps = [x * 9/5 + 32 for x in celsius_temps]
print(fahrenheit_temps)

[77.0, 86.0, 59.0, 68.0, 50.0]

Complete the lambda function to multiply each element of the list by 2 using mapping.


numbers = [1, 2, 3, 4, 5]

doubled_numbers = list(map(______, numbers))

In [ ]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x*2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

Instructions: Complete the lambda function to convert each word in the list to uppercase using mapping.

words = ['hello', 'world', 'python', 'programming']

uppercase_words = list(map(______, words))

In [ ]:
words = ['hello', 'world', 'python', 'programming']
uppercase_words = list(map(lambda x: x.upper(), words))
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING']

SET COMPREHENSSION

In [ ]:
#same as list comprehenssion but insted of list they create a list
#example
vowels = set()
for char in "hello World":
  if char in "aeiou":
    vowels.add(char)
print(vowels)

{'o', 'e'}

In [ ]:
vowels = {char for char in "hello world" if char in "aeiou"}
print(vowels)

{'o', 'e'}

In [ ]:
books = [('fiction', 20), ('history', 15), ('biography', 5), ('mystery', 10), ('science', 8), ('fiction', 15), ('history', 10)]
unique_cat = {catg for catg, stock in books if stock >= 10}
print(unique_cat)

{'mystery', 'history', 'fiction'}

Dictionary Comprehenssion

In [ ]:
names = ['Alice', 'Bob', 'Charlie', 'Dave']
name_lengths = {name: len(name) for name in names}
print(name_lengths)

{'Alice': 5, 'Bob': 3, 'Charlie': 7, 'Dave': 4}

In [ ]:
names = {'Alice': 20, 'Bob':30, 'Charlie': 40, 'Dave': 50}
pass_marks = {name: marks for name,marks in names.items() if marks>30}
print(pass_marks)

{'Charlie': 40, 'Dave': 50}

In [ ]:
people = {'Alice': 25, 'Bob': 17, 'Charlie': 20, 'David': 30, 'Eve': 16}
age_18_plus = {name:age for name,age in people.items() if age>18}
print(age_18_plus)

{'Alice': 25, 'Charlie': 20, 'David': 30}

In [ ]:
{x: x**2 for x in [1, 2, 3, 4, 5] if x % 2 == 0}

{2: 4, 4: 16}

In [ ]:
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: orange

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]
for name, score in zip(names, scores):
    print(f"{name}: {score}")

Alice: 85
Bob: 92
Charlie: 78

In [ ]:
code = eval(input())
new_code = [i for i in code if i is not None]
print(new_code)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
code = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

In [ ]:
my_num = eval(input())
print(my_num)

[1 2 3]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<string>, line 1)

In [ ]:
code = [1,2,3,4,5,6,7,8,9,10]
code1 = [2,4,6,8]
new = []
for i in code:
  if i not in code1:
     print(i)

1
3
5
7
9
10

In [ ]:
code1 = eval(input())
code2 = eval(input())
result =[i for i in code1 if i not in code2]
print(result)

[1,2,3,4,5,6,7,8,9,10]
[2,4,6,8]
[1, 3, 5, 7, 9, 10]

In [ ]:
names = ['Alice', 'Bob', 'Charlie', 'Dave']
name_lengths = {name: len(name) for name in names}
print(name_lengths)

In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string.
my_string = "Mohammad Azam Bhat"
char_freq = {i: len(i) for i in my_string}
print(char_freq)

{'M': 1, 'o': 1, 'h': 1, 'a': 1, 'm': 1, 'd': 1, ' ': 1, 'A': 1, 'z': 1, 'B': 1, 't': 1}

In [ ]:
my_str = input()
char_freq = {}
for char in my_str:
  if char in char_freq:
    char_freq[char] +=1
  else:
    char_freq[char] = 1
print(char_freq)

mohmmmd
{'m': 4, 'o': 1, 'h': 1, 'd': 1}

In [ ]:
[x**2 for x in range(5) if x % 2 == 0]

[0, 4, 16]

In [ ]:
s = {x.upper() for x in {'Apple', 'Banana', 'Cherry'}}
print(s)

{'APPLE', 'BANANA', 'CHERRY'}

In [ ]:
s = {x**2 for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

In [ ]:
 s = list(map(lambda x: x**-1, [1, 2, 3]))
 print(s)

[1.0, 0.5, 0.3333333333333333]

In [ ]:
s = [x**-1 for x in [(1, 2, 3)]]
print(s)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [ ]:
x = [i**+1 for i in range(3)]
print(x)

[0, 1, 2]

SyntaxError: invalid syntax (<ipython-input-114-da50bee4693d>, line 1)