In [ ]:
x = int(input())
y = int(input())
z = int(input())

if y < x and x < z:
    print(x)
elif z < x and x < y:
    print(x)

elif z < y and y < x:
    print(y)
elif x < y and y < z:
    print(y)

elif y < z and z < x:
    print(z)
elif x < z and z < y:
    print(z)

25
15
35
25

In [ ]:
#Write a Python program to find the number of notes (Sample of notes: 10, 20, 50, 100, 200 and 500 ) against a given amount.

In [ ]:
my_amt = int(input("Enter Your Amount: "))
deno = [500,200,100,50,20,10]
count = 0
for i in range(6):
  denomination = deno[i]
  count += (my_amt//denomination)
  #print(f"During {i} iteration amount = {my_amt} denomination = {denomination} count = {count}")
  my_amt = (my_amt%denomination)
  #print(f'new amount = {my_amt}')
if my_amt > 0:
  my_amt = -1
  print(count)

Enter Your Amount: 888
6

In [ ]:
a = 388%200
print(a)
b = 388//200
print(b)

188
1

In [ ]:
amount = 200
denomination = [10,20]
count = 0
for i in range(0,len(denomination)):
  q = amount // i

ZeroDivisionError: integer division or modulo by zero

In [ ]:
class A:
        def __init__(self,num):
                num=3
                self.num=num
        def change(self):
                self.num=7
a=A(5)
print(a.num)
a.change()
print(a.num)

3
7

In [ ]:
class A:
    def __init__(self,b):
        self.b=b
    def display(self):
        print(self.b)
obj=A("Hello")
del obj

In [ ]:
class change:
    def __init__(self, x, y, z):
        self.a = x + y + z

x = change(1,2,3)
y = getattr(x, 'a')
setattr(x, 'a', y+1)
print(x.a)

7

In [ ]:
class A:
        def __init__(self):
                self.count=5
                self.count=count+1
a=A()
print(a.count)

7

In [ ]:
name = "John"
age = 25
result = "My name is " + name + " and I am " + age + " years old."

TypeError: can only concatenate str (not "int") to str

In [10]:
sentence = input()
new_sentence = sentence.split('-')
sort_sentence = sorted(new_sentence)
new_new = "-".join(sort_sentence)
print(new_new)

green-red-black-white
black-green-red-white

In [11]:
x = [1, 2, 3]
print(x[3])

IndexError: list index out of range

In [12]:
numbers = [1, 2, 3, 4, 5]
for i in range(6):
    print(numbers[i])

1
2
3
4
5

IndexError: list index out of range

In [15]:
try:
    print(y)
except NameError:
    print("Variable x is not defined")

Variable x is not defined

In [17]:
'1' == 1

False

In [19]:
try:
    print(10/0)
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

In [20]:
x = [1, 2, 3, 4, 5]
print(x[5])

IndexError: list index out of range

In [21]:
x = 5
y = 2
print("x % y = ", x % y)

x % y =  1

In [23]:
#how to use arg in function
def sum(*args):
  total = 0
  for i in args:
     total +=i
  return total

In [29]:
try:
  sum(1,2,3,a)
except:
    print(f"enter suitable input")

enter suitable input

In [32]:
def name(**kwargs): #allows for a variable number of keyworded arguments to be passed.
  for key,value in kwargs.items():
    print(f"{key} {value}")

In [35]:
name(country = "usa", roll = "20",dddd = "hhhff")

country usa
roll 20
dddd hhhff

In [37]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
pairs = [(x, y) for x in list1 for y in list2]
pairs

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [39]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruit_lengths = {fruit: len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}

In [41]:
fruits = ['apple', 'banana', 'cherry', 'date']
a_fruit_lengths = {fruit: len(fruit) for fruit in fruits if fruit[0] == 'a'}
a_fruit_lengths

{'apple': 5}

In [42]:
def vowel(word):
  if word in "AEIOUaeiou":
    print(f"{word} is Vowel")
  else:
    print("Fuck Off")

In [44]:
vowel("A")

A is Vowel

In [47]:
word =  input()
a = "AEIOUaeiou"
if word in a:
    print("Vowel")
else:
    print("Fuck Off")

a
Vowel

In [ ]:
#Write a Python program to calculate a dog's age in dog's years.
#Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [ ]:
age = int(input())